<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor details</title>
</head>

<body>
    <h1>Instructor Details</h1>

    {{#each instructorList}}
    <p>Name: {{this.name}}</p>
    <p>Email: {{this.email}}</p>
    {{#if this.coursesTaught}}
    <p>Courses Taught:</p>
    {{#each this.coursesTaught}}
    <p>Course Code: {{this.code}}</p>
    <p>Course Title: {{this.title}}</p>
    {{/each}}
    {{else}}
    <p>No courses taught</p>
    {{/if}}
    <hr />
    {{/each}}

</body>

</html>