<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
        <style>
        body {
            display: flex;
            flex-direction: column;
            font-family: Arial, sans-serif;

        }

        .tracks
        {
            display:flex;
            flex-direction: column;
        }
        form {
            border: 2px solid #ddd;
            padding: 10px;
            margin: 10px;
            width: 50vh;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px;
            margin: 10px;

        }

        img {
            max-width: 150px;
            max-height: 450px;
            object-fit: cover; 
            margin: 0 auto;
        }
        h1
        {
            padding:20px;
        }
    </style>
</head>
<body>
    {{!-- <p>Test</p> --}}
    {{#if errorMsg}}
    <h3>{{errorMsg}}</h3>
    {{/if}}


    {{#each books}}
    <form action="/borrow/{{this.title}}" method="post" enctype="multipart/form-data">
        <p>Title: {{this.title}} </p>

        <p>Author: {{this.author}} </p>
        <img src="/images/{{this.image}}">
        <button>Borrow this Book</button>

    </form>
    {{/each}}
</body>
</html>